@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.main {
  width: 73.6%;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  width: 73.6%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid #EFEEEE;
}
.header-inner {
  height: 100%;
  padding: 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logoArea {
  width: 160px;
}
.header__logo {
  width: 100%;
  height: auto;
}
.header-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding-right: 18px;
}
.header__listItem {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.contact {
  width: 26.4%;
  max-width: 338px;
  height: 724px;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

/* ========================================================================
Foundation - ファウンデーション
======================================================================== */
/* ========================================================================
	Layout - レイアウト
======================================================================== */
/* ========================================================================
	Objects - オブジェクト
======================================================================== */