@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.main {
  width: 73.6%;
}

.inner {
  width: 742px;
  max-width: 100%;
  margin: 0 auto;
}

.section__title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
}
.section__title--orange {
  color: #FF550C;
}

.section__subTitle {
  margin-top: 38px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.header {
  width: 73.6%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid #EFEEEE;
  background-color: #fff;
}
.header-inner {
  height: 100%;
  padding: 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logoArea {
  width: 160px;
}
.header__logo {
  width: 100%;
  height: auto;
}
.header-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding-right: 28px;
}
.header__listItem {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
.header__listItem:hover {
  color: #FF550C;
}

.top {
  padding-top: 135px;
  padding-bottom: 20px;
  position: relative;
}
.top::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/assets/images/top_bg.png) no-repeat center center/cover;
  z-index: -1;
}
.top-inner {
  width: 83%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10%;
}
.top-left {
  width: 72.48%;
  height: auto;
}
.top-headArea {
  width: 100%;
  text-align: center;
  position: relative;
}
.top-headArea::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #000;
}
.top__head {
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: #fff;
  padding: 0 24px;
  font-size: 16px;
  line-height: 1.8;
}
.top__head--big {
  padding-left: 7px;
  font-size: 20px;
}
.top__title {
  margin-top: 22px;
  font-size: 38px;
  letter-spacing: 0.05em;
}
.top__text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.08em;
}
.top-achievement {
  margin-top: 37px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.top-achievement__list {
  width: 80px;
  height: 80px;
}
.top-achievement__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-right {
  width: 38.6%;
  height: auto;
  padding-top: 33px;
}
.top-right__img {
  width: 100%;
  height: auto;
}
.top-slider {
  width: 91.5%;
  max-width: 862px;
  margin: 48px auto 0;
}
.top-slider .slick-slide {
  -webkit-transform: scale(0.9);
          transform: scale(0.9); /*左右の画像のサイズを80%に*/
  -webkit-transition: all 0.5s;
  transition: all 0.5s; /*拡大や透過のアニメーションを0.5秒で行う*/
}
.top-slider .slick-slide.slick-center {
  -webkit-transform: scale(1);
          transform: scale(1); /*中央の画像のサイズだけ等倍に*/
  opacity: 1; /*透過なし*/
}
.top-slider__list {
  width: 157px;
  height: auto;
  margin: 0 10px;
  position: relative;
}
.top-slider__hashtag {
  position: absolute;
  top: -28px;
  left: -10px;
  font-size: 40px;
  line-height: 1.8;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #E1E1E1;
}
.top-slider__head {
  position: relative;
  z-index: 2;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.02em;
}
.top-slider__img {
  width: 100%;
  height: auto;
  margin-top: 16px;
}

.worried {
  padding-top: 104px;
  padding-bottom: 75px;
}
.worried-inner {
  width: 83%;
  margin: 0 auto;
}
.worried__title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
}
.worried-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4.6%;
  margin-top: 50px;
}
.worried__list {
  width: 250px;
  height: 210px;
  position: relative;
  text-align: center;
}
.worried__list:nth-child(1) .worried__listText {
  padding-top: 65px;
}
.worried__list:nth-child(2) .worried__listText, .worried__list:nth-child(3) .worried__listText {
  padding-top: 45px;
}
.worried__listText {
  width: 100%;
  height: 52%;
  display: grid;
  place-items: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.worried-iconArea {
  width: 100%;
  height: 80px;
  display: grid;
  place-items: center;
}
.worried-iconArea:nth-child(1) .worried__listIcon {
  width: 66px;
  height: 59px;
}
.worried-iconArea:nth-child(2) .worried__listIcon, .worried-iconArea:nth-child(3) .worried__listIcon {
  width: 53px;
  height: 53px;
}
.worried__listBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.feature {
  padding-top: 80px;
  padding-bottom: 79px;
  position: relative;
}
.feature::before {
  content: "";
  display: block;
  width: 100%;
  height: 535px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/assets/images/feature_bg.png) no-repeat center center/cover;
  z-index: -1;
}
.feature-inner {
  max-width: 83%;
  margin: 0 auto;
}
.feature-nav {
  width: 100%;
  margin-top: 53px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5%;
}
.feature-nav__item {
  display: block;
  width: 23.87%;
  max-width: 210px;
  height: 270px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(254, 95, 26, 0.25);
          box-shadow: 0 4px 10px rgba(254, 95, 26, 0.25);
  border-radius: 4px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.feature-nav__item:hover {
  background-color: #FF550C;
}
.feature-nav__item:hover .feature-nav__itemHead {
  color: #fff;
}
.feature-nav__item:hover .feature-nav__itemSubHead {
  color: #fff;
  font-weight: bold;
}
.feature-nav__item--num {
  color: #FFDACB;
  font-size: 50px;
  line-height: 1.2;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: -7px;
  left: 3px;
}
.feature-nav__iconArea {
  height: 55.5%;
  position: relative;
  z-index: 2;
}
.feature-nav__icon {
  height: auto;
}
.feature-nav__icon01 {
  width: 130px;
  margin-top: 30px;
}
.feature-nav__icon02 {
  width: 152px;
  margin-top: 37px;
}
.feature-nav__icon03 {
  width: 155px;
  margin-top: 36px;
}
.feature-nav__icon04 {
  width: 168px;
  margin-top: 30px;
}
.feature-nav__itemHead {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #FF550C;
}
.feature-nav__itemSubHead {
  font-size: 13px;
  font-weight: 500;
}
.feature-items {
  margin-top: 106px;
}
.feature-item {
  width: 93.3%;
  max-width: 730px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feature-item:nth-child(2) {
  margin-top: 90px;
}
.feature-item:nth-child(3) {
  margin-top: 90px;
}
.feature-item:nth-child(4) {
  margin-top: 90px;
}
.feature-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.feature-item__img {
  height: auto;
}
.feature-item__img01 {
  width: 226px;
}
.feature-item__img02 {
  width: 242px;
}
.feature-item__img03 {
  width: 250px;
}
.feature-item__img04 {
  width: 254px;
}
.feature-item__textArea {
  width: 61%;
}
.feature-item__num {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #FF550C;
  position: relative;
}
.feature-item__num::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 8px;
  background-color: #FFDACB;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}
.feature-item__head {
  margin-top: 28px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.feature-item__text {
  margin-top: 30px;
  font-size: 13px;
  letter-spacing: 0.05em;
}

.effect {
  padding-top: 70px;
  padding-bottom: 75px;
  background-color: #FFF1EC;
}
.effect-inner {
  max-width: calc(100% - 80px);
  margin: 0 auto;
}
.effect-ex {
  width: 742px;
  max-width: 100%;
  height: auto;
  margin: 63px auto 70px;
  padding: 0 5.3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4.5%;
  background-color: #fff;
  border-radius: 4px;
}
.effect-ex__left {
  width: 24.1%;
  width: 180px;
  position: relative;
}
.effect-ex__img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.effect-ex__right {
  width: 59.4%;
  padding: 19px 0 18px 0;
}
.effect-ex__headArea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.effect-ex__headIconArea {
  width: 70px;
  height: 70px;
}
.effect-ex__headIcon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.effect-ex__headTextArea--small {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.effect-ex__headTextArea--big {
  margin-top: 3px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.effect-ex__smallTextArea {
  height: 16px;
  text-align: right;
}
.effect-ex__smallText {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 500;
  text-align: right;
  display: inline-block;
  position: relative;
}
.effect-ex__smallText::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: -17px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/assets/images/実績アイコン.png) no-repeat center center/cover;
}
.effect-ex__ul {
  margin-top: 15px;
}
.effect-ex__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3px;
}
.effect-ex__list:nth-child(1) {
  padding-bottom: 9px;
}
.effect-ex__list:nth-child(2) {
  padding-bottom: 9px;
}
.effect-ex__list:nth-child(2) {
  border-top: 1px solid #E2E2E2;
}
.effect-ex__list:nth-child(3) {
  border-top: 1px solid #E2E2E2;
}
.effect-ex__listTerm {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.effect-ex__listDesc {
  font-family: "Montserrat", sans-serif;
}
.effect-ex__listText {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2;
  color: #FF550C;
  letter-spacing: 0.05em;
}
.effect-ex__listText .arrow--black {
  width: 20px;
  margin: 0 5px;
  padding-bottom: 5px;
}
.effect-ex__listText--num {
  font-size: 26px;
  color: #3D3D3D;
}
.effect-ex__listText--kanji {
  margin-left: 5px;
  font-size: 16px;
  color: #000;
}
.effect-ex__listText--kana {
  margin-left: 5px;
  font-size: 12px;
  color: #000;
}
.effect-main {
  width: 747px;
  max-width: 100%;
  margin: 60px auto 0;
}
.effect-main__img {
  width: 100%;
  height: auto;
}

.contact {
  width: 26.4%;
  height: 724px;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

/* ========================================================================
Foundation - ファウンデーション
======================================================================== */
/* ========================================================================
	Layout - レイアウト
======================================================================== */
/* ========================================================================
	Objects - オブジェクト
======================================================================== */